    *{
        margin: 0;
        padding: 0;
        user-select: none;
    }
    nav{
        background-color: #46b491;
        color: rgb(32, 32, 32);
        font-size: 17px;
        list-style-type: none;
        font-family:Georgia, 'Times New Roman', Times, serif ,'Arial';
        border-bottom: 1px solid rgb(57, 134, 109);
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: bolder;
    }
    .nav-bar{
        
        width: 31%;
        display: flex;
        justify-content: space-between;
        padding: 5px 5px;
        /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    }
    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        width:65%;
        justify-content: space-between;
        padding: 5px 5px;
        cursor: pointer;
    }
    .left li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mid{
        
        display: flex;
        justify-content: center;
        align-items: center;  
        padding: 5px 5px;
        cursor: pointer;
    }
    .mid:hover{
        background-color:rgba(3, 36, 36, 0.541);
        color: white;
    }

    .start{
        border: 2px solid green;
        color: green;
        height: 80%;
        width: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        /* font-size: large; */
        background-color: white;
        cursor: pointer;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .start:hover{
        border: 2px solid green;
        background-color: green;
        color: white;
    }
    .start:active{
        border: 2px solid green;
        color: green;
        background-color: white;
    }

    .ins-bottom{
        /* border: 2px solid red; */
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .underline{
        margin-top: 15px;
        text-decoration: underline;
        margin-bottom: 15px;
    }
    .container{
        height: 87vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: aliceblue; */
    }
    .instructions{
        width: 70%;
        height: 90%;
        box-shadow: 0px 0px 8px black;
        background-color: aliceblue;
        border-radius: 5px;
    }
    .ins-top{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .level{
        margin-bottom: 10px;
    }
    .level li{
        display: flex;
        align-items: center;
        margin-top: 6px;
        margin-bottom: 12px;
    }
    .ins-main{
        padding: 5px 5px;
        overflow-x: auto;
        height: 75%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .items{
        margin-left: 15px;
    }
    body{
        background-image: url("https://embed-ssl.wistia.com/deliveries/2132105fc1db02f794610c4ab3cce7010f911ff1.jpg");
    }
    .time{
        color: white;
        display: flex;
        background-color: #565cd8;
        padding: 5px 10px;
        border-radius: 15px;
        width: 30%;
        justify-content: space-between;
        /* margin-right: 5px; */
    }

    .nav-bar-test{
        /* border: 2px solid red; */
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        background-color: white;
        padding: 2px 2px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-bottom: 2px solid rgba(0, 16, 27, 0.76);
    }
    .nav-test-left{
        
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: #565cd8;
        font-weight: bolder;
        font-size: larger;
    }
    .nav-test-right{
        
        /* border: 2px solid red; */
        width: 22%;
        display: flex;
        justify-content: space-between;
        /* justify-content: center; */
        align-items: center;
    }
    .nav-test-right li{
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 2px;
        justify-content: space-between;
    }
    .nav-test-right li:nth-child(2){
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 2px;
        justify-content: space-between;
        width: 85%;
    }
    .fullscreenmode{
        color:  #565cd8;
    }
    .test-main{
        padding: 10px 10px;
        display: flex;
        background-color: white;
        list-style-type:none;
        justify-content: space-between;
    }
    .test-main-left{
        /* border: 2px solid red; */
        width: 73%;
    }
    .test-main-right{
        border: 2px solid black;
        width: 24%;
        padding: 10px 10px;
    }
    .question-types{
        display: flex;
        flex-flow: row wrap;
        padding: 5px 0px;
    }
    .question-types li{
        display: flex;
        width: 42%;
        align-items: center;
        margin-bottom: 15px;
    }
    .question-types li:nth-child(4){
   
        display: flex;
        width: 50%;
        align-items: center;
        margin-bottom: 5px;
    }
    .question-types li:nth-child(5){
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .question-calender{
        display: flex;
        flex-flow: row wrap;
        height: 66vh;
        overflow-y: auto;
        justify-content: space-between;
    }
    .question-calender li{
        /* border: 2px solid red; */
        width: 10%;
        height: 4vh;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
    }
    .answered{
        border: 2px solid #629910;
        background-color: #629910;
        padding: 5px 5px;
        color :white;
        margin-right: 10px;
    }
    .n-answered{
        border: 2px solid red;
        background-color: red;
        padding: 5px 5px;
        color :white;
        margin-right: 10px;
    }
    .n-visited{
        border: 2px solid #a1a1a1;
        background-color: #a1a1a1;
        padding: 5px 5px;
        color :white;
        margin-right: 10px;
    }
    .marked_review{
        border: 2px solid #5a2593;
        background-color: #5a2593;
        padding: 5px 5px;
        color :white;
        margin-right: 10px;
    }
    .answered_review{
        border: 2px solid #378edd;
        background-color: #378edd;
        padding: 5px 5px;
        color :white;
        margin-right: 10px;
    }
    .main-left-top-bar{
        border-bottom: 1px solid rgba(0, 0, 0, 0.788);
        display: flex;
        justify-content: space-between;
        padding: 5px 5px;
        background-color: aliceblue;
    }
    .question-no{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
    }
    .marking-rules{
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        justify-content: space-between;
        font-size: medium;
    }
    .right-green{
        color: #5e9605;
        font-weight: bolder;
    }
    .wrong-red{
        color: red;
        font-weight: bolder;
    }
    .questions{
        /* border: 2px solid red; */
        margin-bottom: 20px;
        font-size: larger;
        margin-top: 10vh;
    }
    .question-conatiner{
        border: 2px solid rgba(255, 0, 0, 0);
        height: 75.3vh;
    }
    .options li{
        list-style-type:upper-alpha;
        background-color: #378ddd33;
        color: #378edd;
        margin-bottom: 20px;
        font-size: large;
        padding: 10px 5px;
        cursor: pointer;
        
    }
    .test-buttons{
        border-top: 2px solid rgba(0, 0, 0, 0.651);
        /* margin-top: 27vh; */
        padding: 10px 10px;
    }
    button{
        padding: 5px 10px;
        margin-left: 5px;
        cursor: pointer;
    }
    .save,.submit{
        border: 2px solid #5e9605;
        color: #5e9605;
        background-color: white;
    }
    .save:hover,.submit:hover{
        border: 2px solid #5e9605;
        background-color: #5e9605;
        color: white;
    }
    .save:active,.submit:active{
        border: 2px solid #5e9605;
        color: #5e9605;
        background-color: white;
    }
    .review{
        border: 2px solid #5a2593;
        color: #5a2593;
        background-color: white;
    }
    .review:hover{
        border: 2px solid #5a2593;
        background-color: #5a2593;
        color: white;
    }
    .review:active{
        border: 2px solid #5a2593;
        color: #5a2593;
        background-color: white;
    }
    .submit-buttons{
        display: flex;
        justify-content: end;
    }

    .clear{
        border: 2px solid black;
        color: black;
        background-color: white;
    }
    .clear:hover{
        border: 2px solid black;
        background-color: rgb(37, 37, 37);
        color: white;
    }
    .clear:active{
        border: 2px solid black;
        color: black;
        background-color: white;
    }
    .closing-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .leave{
        border: 2px solid #00754c;
        /* font-size: large; */
        font-size: medium;
        color: #00754c;
        font-weight: bolder;
        cursor: pointer;
        margin-top: 2px;
        padding: 5px 5px;
        background: white;
    }
    .leave:hover{
        border: 2px solid #00754c;
        /* font-size: large; */
        background-color: #00754c;
        color: white;
    }
    .leave:active{
        border: 2px solid #00754c;
        /* font-size: large; */
        color: #00754c;
        background-color: transparent;
    }
    .result-bottom,.marks-gained{
        width: 80%;
        border-bottom: 2px solid black; 
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        /* margin-top: 10vh; */
        padding: 15px 15px;
    }
    .result-bottom li,.marks-gained li{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 5px;
       
    }
    .progress-text{
        /* border: 2px solid red; */

        padding: 5px 5px;
        color:rgb(1, 94, 110);
        font-size: larger;
        font-weight: bolder;
        margin-bottom: 10px;
        transition: 1s;
        background-color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .result-container {
        margin: auto;
        width: 70vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    .result-modal {
        border: 2px solid rgb(43, 43, 43);
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.199);
        height: 90vh;
        width: 95vw;
        background-color: white;
        transition: 1s;
        /* background: linear-gradient(45deg,rgb(230, 153, 12),rgb(228, 201, 171),rgb(231, 154, 0)); */
    }

    .result-top {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        row-gap: 30px;
    }

    .result-progress {
        /* border: 2px solid rgb(25, 41, 44);   */
        height: 160px;
        width: 160px;
        background-color: aquamarine;
        border-radius: 50%;
        transition: 1s;
        background: conic-gradient(rgb(0, 66, 128) 0deg, rgba(150, 252, 243, 0.815) 0deg);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .result-progress::before{
        content: "";
        position: absolute;
        height: 135px;
        width: 135px;
        border-radius: 50%;
        background-color: white;
        /* background: linear-gradient(45deg,orange,rgba(209, 168, 120, 0.918),rgb(250, 199, 96)); */
        transition: 1s;
        /* border: 2px solid rgb(1, 94, 110); */
    }
    .progress-value{
        position: relative;
        font-size: 20px;
        font-weight: bolder;
        color: rgb(1, 94, 110);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .badge{
        /* border: 2px solid red; */

        border: 5px solid transparent;
        /* border-image: url(https://image.slidesdocs.com/responsive-images/docs/a-black-thai-pattern-with-a-golden-border-design-page-border-background-word-template_3360a12423__1131_1600.jpg) 30 round; */
        background-color: rgba(0, 0, 0, 0.466);
        padding: 10px 10px;
        position: absolute;
        top: 10%;
        right: 20%;
        height: 100px;
        width: 100px;

        /* background-image: url("img/bronze.png"); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        /* background-color: rgba(255, 255, 255, 0); */
        /* filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0)); */
    }
    @media only screen and (max-width: 925px) {
        .pc{
            display: none;
        }
    }